.insta-section {
  padding: 60px 16px;
  text-align: center;
  background-color: #fdfdf7;
}

.insta-title {
  font-size: 28px;
  margin-bottom: 24px;
  color: #2f5130;
}

.elfsight-app-b4c3613b-1bba-4927-bb96-94af2cb564c2 {
  max-width: 1000px;
  margin: 0 auto;
}
