.insta-feed-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: #fdfdf7;
  padding: 0px 20px 40px;
  gap: 20px;
}

.insta-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
  gap: 16px;
  justify-items: center;
}

.insta-item img {
  width: 100%;
  height: auto;
  border-radius: 12px;
  object-fit: cover;
  background-color: #f2f2f2;
}

.insta-button-wrap {
  margin-top: 16px;
  display: flex;
  justify-content: flex-start;
  padding-left: 12px;
}
